.vscode

*/bin
*/obj

.env

# Volume directories
data
data-*

# vcfs
*/vcfs/*.txt
*/vcfs/*.vcf
*/vcfs/*.vcf.gz
*/vcfs/split/*
*/vcfs/preprocessed/*
# "keep *.sh"

# dev executables
console

# gateway certs
gateway/certs/*
# basic auth pwds
gateway/drs.htpasswd

# authorization
authorization/policy.rego
authorization/*.policy.rego

# temp test file
src/tests/common/test.config.yml

# executables

# golang debug files
*/*/__debug_bin

# golang api binaries
bin/*
*/*/api_*_*

# tmp directories
*/tmp
*/*/tmp

*.vcf
*.vcf.gz

*/*/*.csv

# ignore .gtf files
*/*.gtf*
*/*/*.gtf*
