.vscode

*/bin
*/obj

.env

# Volume directories
data
data-*

# vcfs
*/vcfs/*.txt
*/vcfs/*.vcf
*/vcfs/*.vcf.gz
*/vcfs/split/*
*/vcfs/preprocessed/*
# "keep *.sh"

# dev executables
console

# gateway certs
gateway/certs/*
# basic auth pwds
gateway/drs.htpasswd

# authorization
authorization/policy.rego
authorization/*.policy.rego

# temp test file
Gohan.Tests/appsettings.test.json

# executables
*/Gohan.Console
